body {
  background-color: black;
}

h2 {
    text-align: center;
    color: white;
    font-size: 1.5em;
    font-weight:800;
    font-family:sans-serif;   
    text-shadow: -1px 0 rgba(0, 0, 0, 0.377), 0 1px black, 1px 0 black, 0 -1px black;
}

.container {
  background-color: #060c2165;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  
}


  /* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    div.container{
        font-size: 1em;
  
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    div.container {
        font-size: 0.5em;

    }
  }