
@font-face {
  font-family: 'maddina';
  src: local('maddina'), url(./fonts/maddina.ttf) format('truetype');
}



/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }



body {
  background-color: black;
}


.arabic {
  animation: createBox 1s;
  text-align: center;
  color: white;
  font-size: 25px; 
  font-weight: lighter;
  display: block;
  font-family: 'maddina';
  top: 20%;
  right:2%;
  left:2%;
  
}

.translation {
  animation: createBox 1s;
  text-align: center;
  color: white;
  font-size:2em;
 background-color:   #060c211c;
  text-shadow: -1px 0 rgba(0, 0, 0, 0.377), 0 1px black, 1px 0 black, 0 -1px black;
  font-family:  sans-serif !important;
  top: 10%;
  right:2%;
  left:2%;
position: absolute;
}


.container {
 
  padding:10px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  box-shadow: inset 0 0 2em 2em #0d072787;
  background-color: #060c2165;
  position: fixed;
  top: 60%;
right:2%;
left:2%;
  /* bring your own prefixes */
  transform: translate(-30%,10%,0,10%);
  
}

@keyframes createBox {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}


.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1.2s;
  -moz-animation-duration:1.2s;
  animation-duration:1.2s;
}


.displayNone{
  display:none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  div.container{
    font-size: 1.5em;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}